name: Trivy

on:
#  push:
#    branches: [ main ]
  workflow_run:
    workflows: ["CI"]  # Must match the 'name' field in your CI workflow
    types:
      - completed
  schedule:
    - cron: '5 9 * * 2'
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  scan-ghcr-image:
    runs-on: ubuntu-latest

    steps:
      - name: Set image reference
        id: image
        run: |
          # Convert repository to lowercase
          IMAGE_REF="ghcr.io/${GITHUB_REPOSITORY,,}:latest"
          echo "IMAGE_REF=${IMAGE_REF}" >> $GITHUB_ENV
          echo "Using image: ${IMAGE_REF}"

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull the latest image from GHCR
        run: |
          docker pull ${{ env.IMAGE_REF }}

      - name: Run Trivy vulnerability scanner 
        uses: aquasecurity/trivy-action@0.34.0
        with:
          image-ref: '${{ env.IMAGE_REF }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          ignore-unfixed: true
          severity: 'CRITICAL'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-results.sarif'
